<h2> Search </h2>

<p> Search for up to 10 individual/partial words (minimum length 2) OR include a " in your search, to search one or more exact phrases (seperated by "s) </p>
<p> Searches are limited to the first 500 results, just for sanity's sake. If you need more than 500 results for <b> intense research </b> you really are probably better off in the desktop FAYDE. </p>

<p> Enter all or part of an actor name to filter by that actor. Most prolific speakers will be prioritised in case of conflict (ie if you just type 'ki', Kim Kitsuragi will be the filter because he says more than "Coupris Kineema"). </p>
<p> Use characters' canonical names "novelty dicemaker" not "Neha", and "Man with Sunglasses" lines won't come up if you search by Jean (I will try and fix this one day) </p>
<p>
<%= form_with url:search_path, method: :get do |form| %>

    <%= form.label :query, "Search for:" %>
    <%= form.text_field :query, :value => @queryText %>
    </br>
    <%= form.label :actor, "Said by:" %>
    <%#= form.text_field :actor %>
    <%= form.collection_select :actor,
    Actor.order(:name), :name, :name, {:include_blank => true } %>
    <br />
    <%= form.check_box :VariableSearch, :checked => @isSearchVariable %>
    <%= form.label :VariableSearch, "Search for Variables, not dialogue (ignores 'said by' field)"%>
    </br>

  </br>
  <%= form.submit "Search" %>
<% end %>
 	<% @searchMessages.each do |mess| %>
		<p> <b> <%= mess %> </b></p>
	<% end %>
<p> <ol class="searchresults"><%  @results.each do | result | %>
<li>  <span class='actor'><%= result.showActor %> - </span> <%= result.showDialogue %>  <br />
	<div class='btn'> <%= link_to raw("&#9664;&#9664;"), {:controller => 'conversation', :action => 'trace', :dialogueid => ((result.conversation_id)*10000)+1} , :title => 'View Conversation' %><br /> </div>
	<div class='btn'><%= link_to raw("&#9654;"), {:controller => 'conversation', :action => 'trace', :dialogueid => result.id }, :title => 'Start Here' %> </div>
<i> <ul> <% result.showDetails.each do | deet | %>
	<li id="details"> <%= deet %> </li>
	<% end %>
	<% result.showCheck.each do | deet | %>
	<li id="details"> <%= deet %> </li>
	<% end %>
</ul>
</i>
</li>
<% end %> </ol> </p>
