<h2> Search </h2>

<p> Search for up to 10 words/part words, OR include a " in your search, to search one or more exact phrases (separated by "s) </p>

<p> Jean, Judit, Liz, Korty and Perception will return lines from their "disguised"/(specific) versions, but "horse faced woman" or "Perception (smell)" will not. </p>

	<p>Check the "variables search" box to look for things like "reputation grows kim" and don't check it to search for actual dialogue people say.</p>
<p>
<%= form_with url:search_path, method: :get do |form| %>
    <%= form.label :query, "Search for:" %>
    <%= form.text_field :query, :value => @queryText %>
    </br>
    <%= form.label :actor, "Said by:" %>
    <%= form.text_field :actor1, :value => @actorText %> <b> OR: </b>
    <%= form.collection_select :actor2, Actor.where("dialogues_count > 0").order(:dialogues_count).reverse_order, :name, :name, {:prompt => 'select actor' }%>
    <br />
    <%= form.check_box :VariableSearch, :checked => @isSearchVariable %>
    <%= form.label :VariableSearch, "Search for variables instead of dialogue (ignores 'said by' filter)"%>
    </br>
  <%= form.submit "Search" %>
<% end %><p>
 	<% @searchMessages.each do |mess| %>
		<b> <%= mess %> </b><br />
	<% end %></p><p> Hit the <span class='btn'> &#9664;&#9664;</span> button to view conversations from the begining, and <span class='btn'> &#9654;</span> button to carry the conversation on from that point.
	</p>

<p> <ol class="searchresults"><%  @results.each do | result | %>
<li>  <span class='actor'><%= result.showActor %> - </span> <%= result.showDialogue %>  <br />
	<div class='btn'> <%= link_to raw("&#9664;&#9664;"), {:controller => 'conversation', :action => 'trace', :dialogueid => ((result.conversation_id)*10000)+1} , :title => 'View Conversation' %><br /> </div>
	<div class='btn'><%= link_to raw("&#9654;"), {:controller => 'conversation', :action => 'trace', :dialogueid => result.id }, :title => 'Start Here' %> </div>
<i> <ul> <% result.showDetails.each do | deet | %>
	<li id="details"> <%= deet %> </li>
	<% end %>
	<% result.showCheck.each do | deet | %>
	<li id="details"> <%= deet %> </li>
	<% end %>
</ul>
</i>
</li>
<% end %> </ol> </p>
