<h1>Translation Compare</h1>
<p>Available translations for:	<%= link_to @result.id, {:controller => 'conversation', :action => 'trace', :dialogueid => @result.id }, :rel => 'nofollow', :title => 'Trace' %>.</p>

<table class="trace">
 <tr id="<%= @result.id %>">

		 <td> EN </td> <td class='actor'><%= @result.showActor %> - </td> <td> <%= @result.showDialogue(false,false) %></td>
			 </tr>
				 <% @result.dialogueTranslations.each do | deet | %>
					 <tr> <td><%= deet.language %> </td><td class='actor'>
						  <%=@result.actor.name_in(deet.language).string%>
						  - </td> <td> <%= deet.string %></td> </tr>
				 <% end %></table>
