<!DOCTYPE html>
<html>
  <head>
    <title> <%= @pageTitle.nil? ? "FAYDE" : @pageTitle %> - FAYDE On-Air Playback Experiment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if not cookies[:css]=="sybmode" then %>
      <%= stylesheet_link_tag "basic.css" %>
    <% end %>
    <%= javascript_include_tag "cssmodeswitch.js" %>
    <%= stylesheet_link_tag "util.css" %>
  </head>


  <body class="<%= (cookies[:css]=="sammode" ? "dark " : "") + (cookies[:nicmode].blank? ? "one" : "#{cookies[:nicmode]}") %>">

    <div class="menu">
        <div class="btn"><%= link_to "Search", {:controller => 'search', :action => 'result' } %> </div>
        <div class="btn"><%= link_to "About", {:controller => 'fayde', :action => 'index' } %></div>
        <div class="btn"><%= link_to "Options", {:controller => 'fayde', :action => 'css_configuration' } %></div>
        <div class="btn"><%= link_to "Contemplate ORBS", {:controller => 'conversation', :action => 'orbindex' } %></div>
      <% if @pageTitle != "Search" then %>
        <%= form_tag(search_path, method: :get) do %>
          Quick Search: <%= search_field_tag :query, params[:query], placeholder: "Search", class: "form-control" %><%= submit_tag 'Search' %>
        <% end %>
      <% end %>



  <div id="darkmode" class="btn dark"> Darkmode </div> <div id="lightmode" class="btn"> Lightmode </div>

  </div>
  <div class="main">
    <%= yield %>
    </div>
  </body>
</html>
